<form name="madlibInputs" ng-submit="createStory()">

<div class="libInput">
    <input type="text" class="input" placeholder="animal" ng-model="data.animal" />
</div>
<div class="libInput">
    <input type="text" class="input" placeholder="direction" ng-model="data.direction" />
</div>
<div class="libInput">
    <input type="text" class="input" placeholder="time of day" ng-model="data.timeOfDay" />
</div>
<div class="libInput">
    <input type="text" class="input" placeholder="place" ng-model="data.place" />
</div>
<div class="libInput">
    <input type="text" class="input" placeholder="time" ng-model="data.time" />
</div>
<div class="libInput">
    <input type="text" class="input" placeholder="noun" ng-model="data.noun" />
</div>
<div class="libInput">
    <input type="text" class="input" placeholder="color" ng-model="data.color" />
</div>
<div class="button">
	<button type="submit" ng-click="onclick(wordsToAdd)">
		Add something NEW
	</button>
</div>

</form>




