span {
	color: hotpink;
	background-color: palegreen;
	border-radius: 5px;
}

div {
/*	border-style: solid;
	border-color: black;
*/	width: 50%;
	/*margin: auto;*/
/*	text-align: center;
*/}

body {
	margin-left:50px;
	font-family: 'Sofia', cursive;
	font-size: 2vw;
	background-color: lavenderblush;
	background-image: url("images/flowers.jpeg");
	background-size: cover;
}

.header{
	font-size: 3vw;
}

h1 {
/*	text-align: center;
*/	font-size: 5vw;
}

.homewords {
	width: 30%;
	text-align: center;
}

button {
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.button {
	width: 30%;
}

.input {
	color: dimgrey;
	margin-bottom: 10px;
}

input[type=text]{ 

 }

-webkit-input-placeholder {
	color: green;
}

.libInput {
	width: 30%;
	text-align: center;
}

input {
		background-color: mistyrose;
		height:30px;
     	width:200px;
     	font-size: 18px;

}