span {
	border-style: solid;
	border-color: cornflowerblue;
	border-width: 3px;
	color: hotpink;
	background-color: lightsteelblue;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin: 5px;
}

div {
/*	border-style: solid;
	border-color: black;
*/	width: 50%;
	/*margin: auto;*/
/*	text-align: center;
*/}

body {
	margin-left:50px;
	font-family: 'Sofia', cursive;
	font-size: 2vw;
	background-color: lavenderblush;
	background-image: url("images/flowers.jpeg");
	background-size: cover;
}

.header{
	width: 30%;
	text-align: center;
	font-size: 4vw;
	color: cornflowerblue;
	margin-bottom: 0;
	margin-top: 20px;
    color: #2c2c2c;
    letter-spacing: .05em;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 
	0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px 
	rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 
	0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

/*    text-shadow: 
      2px 2px 0px #d5d5d5, 
      4px 4px 0px rgba(0, 0, 0, 0.2);*/
}

h1 {
/*	text-align: center;
*/	font-size: 5vw;
}

.homewords {
	width: 30%;
	text-align: center;
}

button {
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.button {
	width: 30%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: mediumvioletred;
}

a:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.input {
	color: dimgrey;
	margin-bottom: 10px;
}



.libInput {
	width: 30%;
	text-align: center;
}

input {
		background-color: mistyrose;
		height:30px;
     	width:200px;
     	font-size: 18px;
     	margin-bottom: 10px;
}